<div class="wrapper">
    <div class="page-header clear-filter" filter-color="pink">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
             style="background-image: url('assets/img/header.webp');">

        </div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo">開發隨筆</h1>
                <h3>Development Essay</h3>
                <h5>by <a href="https://about.mingchang.tw">Ming Chang</a></h5>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                        <div class="card">
                            <div class="card-header">
                                <h2>測試文章</h2>
                            </div>
                            <div class="card-body">
                                <p>
                                    測試文章
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                        <div class="card">
                            <div class="card-header">
                                <h2>測試文章</h2>
                            </div>
                            <div class="card-body">
                                <p>
                                    測試文章
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="mailto:mail@mingchang.tw">
                            Email Me
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy; {{data | date: 'yyyy'}} Ming Chang. Template Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>, Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
