<header>
  <div class="grid p-4">
    <div class="col-12">
      <p-menubar [model]="items">
        <ng-template pTemplate="end">
          <input type="text" pInputText placeholder="Search">
        </ng-template>
      </p-menubar>
    </div>
  </div>
</header>
<article>
  <div class="grid p-4">
    <div class="col-12" *ngFor="let item of articleList">
      <p-card>
        <ng-template pTemplate="title">
          {{item.title}}
        </ng-template>
        <ng-template pTemplate="content">
          <div [innerHTML]="item.content"></div>
        </ng-template>
      </p-card>
    </div>
  </div>
</article>

